<section data-ng-controller="HomeController" id="view">
	<h1>Post to your {{ authentication.provider }}<!-- Facebook timeline --></h1>
        <textarea rows="5" cols="17" class="form-control" ng-model="user.input" value="Hello"></textarea>
        <br />
        <button class="btn btn-warning" ng-click="post()" type="submit" id="sharePost">Post</button>
    <!--
        <div ng-repeat="friend in friends.data">
            <p>{{ friend.name }}</p>
        </div>
    -->
    <h3>Your {{ authentication.user.provider }} connections</h3>
    <div ng-repeat="friend in allfriends">
        {{ friend }}
    </div>
    <button ng-click="previousfriends()" class="btn btn-warning">Previous</button>
    <button ng-click="nextfriends()" class="btn btn-info">Next</button><br /><br />
    {{ frndmsg }}
</section>